<div class="jumbotron">
  <h1>Categories</h1>
</div>

<div class="jumbotron">
  <% if @categories.any?() %>

    <h3>Here are all the categories!</h3>

    <div class="list">
        <ul>
          <% @categories.each() do |category| %>
            <li><a href="/categories/<%= category.id() %>"><%= category.name() %></a></li>
          <% end %>
        </ul>
    </div>

  <% else %>

    <h3>There are no categories!</h3>

  <% end %>

  <h3>Add a new Category</h3>

  <form action="/categories" method="post">
    <div class="form-group">
      <label for="name">Name of Category:</label>
      <input type="text" name="name" id="name" class="text-center">
      <br></br>
      <button type="submit" class="btn btn-danger">Submit</button>
    </div>
  </form>

</div>
