.delete-button {
  width:30px;
  display:inline;
}

.edit-form {
  width: 300px;
  display:inline;
}

.form-inline {
  padding: 10px;
}

.form-control {
  width:200px;
}

.jumbotron {
  text-align:center;
  background-color:#23203E;
  width:100% !important;
}

.list ul {
  list-style:none;
  padding-left:0;
}

.navbar {
  background-color:rgb(255, 255, 255);
  border:none;
}

.navbar a {
  color: #23203E !important;
}

.container {
  margin-top: 50px;
}

button {
  background-color:#F2E0D0 !important;
  border:none !important;
  border-radius:4px;
  color:#23203E !important;
}


span {
  color:#23203E !important;;
}

body {
  background-color:#FFFFFF;
  color:rgb(255, 255, 255);
}

a {
  color:#F2E0D0;
}

a:hover {
  color:#F2E0D0;
}

input {
  color:black;
}

select {
  color:black !important;
}
